.main-footer {
    padding: 30px 0 15px;
    font-size: 12px;
}

/**
 * FRONTEND
 */

body {
    padding-top: 70px;
}

.nav .nav {
    padding-left: 15px;
    font-size: 12px;
    display: none;
}

    .nav .active>a {
        font-weight: bold;
    }

    .nav .active>.nav {
        display: block;
    }

/**
 * BACKEND
 */

.space {
    margin-right: 1em;
}

.text-center {
    text-align: center;
}

.form-actions {
    margin-top: 30px;
}

.page-list .f-title { width: 30%; }
.page-list .f-title .glyphicon {
    margin-left: 5px;
    text-decoration: none;
    font-size: 12px;
}

.page-list .f-date {
    text-align: center;
    white-space: nowrap;
    width: 1%;
}

.page-list .f-actions {
    width: 100px;
}

.page-list .f-date {
    font-size: 12px;
}

.page-list .actions
, .page-list .f-title .glyphicon {
    opacity: 0;

    -webkit-transition: opacity .1s ease-in-out;
       -moz-transition: opacity .1s ease-in-out;
        -ms-transition: opacity .1s ease-in-out;
         -o-transition: opacity .1s ease-in-out;
            transition: opacity .1s ease-in-out;
}

    .page-list .item:hover .actions
    , .page-list .item:hover .f-title .glyphicon {
        opacity: 1;
    }

.ace_editor {
    height: 250px;
}




#menuh-container
	{
	}

#menuh
	{
	font-size: small;
	font-family: arial, helvetica, sans-serif;
	width:100%;
	float:left;
	margin:2em;
	margin-top: 1em;
	}
		
#menuh a
	{
	text-align: center;
	display:block;
	border: 1px solid #0040FF;
	white-space:nowrap;
	margin:0;
	padding: 0.3em;
	}
	
#menuh a:link, #menuh a:visited, #menuh a:active	/* menu at rest */
	{
	color: white;
	background-color: #0040FF;		/* royal blue */
	text-decoration:none;
	}
	
#menuh a:hover						/* menu on mouse-over  */
	{
	color: white;
	background-color: #668CFF;	/* cornflowerblue */
	text-decoration:none;
	}	
	
#menuh a.top_parent, #menuh a.top_parent:hover  /* attaches down-arrow to all top-parents */
	{
	background-image: url(navdown_white.gif);
	background-position: right center;
	background-repeat: no-repeat;
	}
	
#menuh a.parent, #menuh a.parent:hover 	/* attaches side-arrow to all parents */
	{
	background-image: url(nav_white.gif);
	background-position: right center;
	background-repeat: no-repeat;
	}

#menuh ul
	{
	list-style:none;
	margin:0;
	padding:0;
	float:left;
	width:9em;	/* width of all menu boxes */
	/* NOTE: For adjustable menu boxes you can comment out the above width rule.
	However, you will have to add padding in the "#menh a" rule so that the menu boxes
	will have space on either side of the text -- try it */
	}

#menuh li
	{
	position:relative;
	min-height: 1px;		/* Sophie Dennis contribution for IE7 */
	vertical-align: bottom;		/* Sophie Dennis contribution for IE7 */
	}

#menuh ul ul
	{
	position:absolute;
	z-index:500;
	top:auto;
	display:none;
	padding: 1em;
	margin:-1em 0 0 -1em;
	}

#menuh ul ul ul
	{
	top:0;
	left:100%;
	}

div#menuh li:hover
	{
	cursor:pointer;
	z-index:100;
	}

div#menuh li:hover ul ul,
div#menuh li li:hover ul ul,
div#menuh li li li:hover ul ul,
div#menuh li li li li:hover ul ul
{display:none;}

div#menuh li:hover ul,
div#menuh li li:hover ul,
div#menuh li li li:hover ul,
div#menuh li li li li:hover ul
{display:block;}

/* End CSS Drop Down Menu */